{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1 style="font-size: 20px; text-align: center;">Welcome to your Dashboard {{ request.user.username }} !!!!!! </h1>

<br>
<table class="table table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Song Name</th>
      <th scope="col">Album</th>
      <th scope="col">Singer</th>
      <th scope="col">Song</th>
      <th scope="col">Delete</th>
      

    </tr>
  </thead>
  <tbody>
    {% if name %}
    {% for song in name %}
    <tr>
     
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'detail' song.id %}">{{song.name}}</a></td>
      <td>{{song.album}}</td>
      <td>{{song.singer}}</td>
      <td>
        <audio controls>
          <source src="{{ song.song_file.url }}" type="audio/mpeg">
        </audio>
      </td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Remove" name={{song.id}}>
        </form>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>

{% endblock body %}





