{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %} Favourites {% endblock title %}

{% block body %}


{% if messages %}
<ul class="messages" style="width: 600px;margin-left:400px">
  {% for message in messages %}
  <div class="alert alert-success">
    <strong>Yahooo!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</ul>
{% endif %}
 


<div class="px-4 pt-3 pb-2 cover text-white" style="background-color: #95AFBA;">
  <div class="media align-items-end profile-head">
      <div class="profile mr-3"><img src="{% static 'musicapp/images/fav.jpg' %}" alt="..." class="img-thumbnail" width="250px"></div>
      
        <p style="font-size: 90px;">Liked Songs</p>
          
      
  </div>
</div>




<table class="table table-hover" style="background-color: #dae0e6;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Song cover</th>
      <th scope="col">Title</th>
      <th scope="col">Album</th>
      
      <th scope="col">Song</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {% if songs %}
    {% for song in songs %}
    <tr class="all" style="background-color: #dae0e6;">
      <th scope="row">{{forloop.counter}}</th>
      <td class="pic"><img class="rounded" src="{{ song.song_img.url}}" width="70"></td>
      <td>{{song.name}} <br> <p style="font-size: 14px;">- {{song.singer}}</p></td>
      <td>{{song.album}}</td>
      <!-- <td>{{song.singer}}</td> -->
      <td>
        <audio controls>
          <source src="{{ song.song_file.url }}" type="audio/mpeg">
        </audio>
      </td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input class="btn btn-secondary" type="submit" value="Remove" name={{song.id}}>
        </form>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>



{% endblock body %}