{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- <div class="row activity">
        <div class="col-md-5">
            {% for post in posts %}
            <div class="container border p-4">
                <div class="panel panel-default">
                    <div class="panel-heading border">
                        <img  src="{{ post.owner.image.url }}" class="user-profile" style="width: 50px;">
                        <div><strong>{{ post.owner }}</strong></div>
                        <div class="small">{{ post.date_posted }}</div>
                    </div>
                    <div class="panel-body">
                        <p>{{ post.detail }}</p>
                        <div class="video-container">
                            <a href="{% url 'postDetail' post.pk %}">
                                <image src="{{ post.image.url }}" width="524" frameborder="0"></image>
                            </a>
                        </div>
                        
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            </div>
                        </div>
                    </div>
                   
                </div>

            {% endfor %}  
         </div>
        </div>
     </div> -->


     <div class="container mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-7">
                <div class="feed p-2">
                    <div class="bg-white border mt-2">
                        {% for post in posts %}
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="{{ post.owner.image.url }}" width="45">
                                    <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ post.owner }}</span><span class="text-black-50 time" style="font-size:  12px !important;">{{ post.date_posted }}</span></div>
                                </div>
                                
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                            </div>
                        </div>
                        <a href="{% url 'postDetail' post.pk %}">
                        <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="{{ post.image.url }}"></div>
                        </a>
                        <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i></div>
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}
