{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}


<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="{{ post.owner.image.url }}"  width="45">
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ post.owner }}</span><span class="text-black-50 time">{{ post.date_posted }}</span></div>
                            </div>
                            {% if post.owner == request.user.profile %}
                    
                            <div class="dropdown">
                              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'postUpdate' post.pk %}">Update</a>
                                <a class="dropdown-item" href="{% url 'postDelete' post.pk %}">Delete</a>
                                
                              </div>
                            </div>
                          {% endif %}
                            
                        </div>
                    </div>
                  
                    <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="{{ post.image.url }}"></div>
                     
                    <!-- commets -->
                   
                  

                    <div class="container mt-1 mb-5">
                        <div class="row height d-flex justify-content-center align-items-center">
                            <div class="col-md-12">
                                <form action="" method="Post" class="p-4">
                                    {% csrf_token %}
                                    <div class="form-group">

                                        {{ form | crispy }}
                                    </div>
                                    <button class="btn btn-secondary " type="submit">Comment</button>
                                </form>
                                <hr>
                                <h5>Comments [{{post_comments_count}}]</h5>
                                {% for comment in post_comments %}
                                <div class="card" style="border: none;" >
                                    
                                  
                                        <div class="d-flex flex-row pt-3 mb-2"> <img src="{{ comment.user.profile.image.url}}" width="75" height="75" class="rounded-circle mr-2">
                                            <div class="w-100">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex flex-row align-items-center"> <span class="mr-1"><b>{{comment.user}}</b></span> 
                                                    </div> <small>{{comment.date}}</small>
                                                </div>
                                                <p class="text-justify comment-text "> {{comment.content}}</p>
                                            </div>
                                        </div>
                                      
                                        {% if comment.user == request.user %}

                                        <form action="{% url 'del_comment' comment.id %}" method="post">
                                            {% csrf_token %}
                                            <input class="btn btn-danger mx-2" value="remove" type="submit"  name={{comment.id}} style="float: right;">
                                           
                                                
                                          </form>   

                                        {% endif %}
                                        

                                </div>
                                <hr>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>



                
    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}



 